<div class="row">
    <h2>New Post</h2>
<form class="newPost" >
    <div class="mb-3">
        <label for="FormControlInput" class="form-label">Title</label>
        <input type="text" class="form-control" id="postTitle" placeholder="Clever title goes here">
    </div>
    <div class="mb-3">
        <label for="Textarea" class="form-label">Text goes here</label>
        <textarea class="form-control" id="post" rows="3"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>
<script src="/js/newpost.js"></script>